*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html{
  background: url("../images/home1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: scroll;
}
#menu_select{
  align-items: center;
  text-align: center;
  background: transparent;
  color: white;
  margin-left: 44%;
  margin-top: 50px;
  width:200px;
  font-size: 24px;
  border-top: none;
  border-left: none;
  border-right: none;
  border-color: white;
  cursor: pointer;
}

.about{
  background: rgba(0,0,0,0.6);
}

.head{
  text-align: center;
  margin-top: 20px;
}

h1{
  color: white;
  font-size: 30px;
}
